@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">TitanHelp Tickets</h1>
    <p>Created by Felo Malachi Valle for CEN4031</p>
    <p>Built using razor and EF Core frameworks</p>
    <p>Utilizes SQLite</p>
</div>
